// pot-layout
.@{pot-prefix}-layout {
  position: relative;
  display: flex;
  flex: auto;
  flex-direction: column;
  width: 100%;
  //height: 100%;
  min-height: 100%;
  background-color: @pot-layout-background-color;

  &.is-row {
    flex-direction: row;
  }

  // pot-layout-header
  &-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: @pot-header-height;
    flex: 0 0 auto;
    background-color: @pot-header-background-color;
    border-bottom: 1px solid #eee;
    z-index: @pot-header-z-index;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    transition: all .2s linear;

    // pot-layout-header--placeholder
    &--placeholder {
      opacity: 0;
      pointer-events: none;
      height: @pot-header-height;

      transition: all .2s linear;
    }

    &--left {
      display: flex;
      align-items: center;
    }

    &--wrapper {
      position: relative;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--action {
      display: flex;
      align-items: center;
      padding: 0 10px;
    }

    &--trigger {
      padding: 0 10px;
      cursor: pointer;

      &-inner {
        display: inline-block;
        transform: rotate(0deg);
      }

      &.collapsed > &-inner {
        transform: rotate(180deg);
      }
    }

    &.is-mix {
      width: calc(100% - @pot-sidebar-width);
    }
  }

  // pot-layout-footer
  &-footer {
    width: 100%;
    height: @pot-footer-height;
    flex: 0 0 auto;
    background-color: @pot-footer-background-color;
  }

  // pot-layout-sidebar
  &-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: @pot-sidebar-width;
    color: @pot-sidebar-font-color;
    background-color: @pot-sidebar-background-color;
    z-index: @pot-sidebar-z-index;

    transition: all .2s linear;

    // pot-layout-sidebar--wrapper
    &--wrapper {
      position: relative;
    }

    // pot-layout-sidebar--placeholder
    &--placeholder {
      width: @pot-sidebar-width;
      overflow: hidden;
      flex: 0 0 @pot-sidebar-width;
      max-width: @pot-sidebar-width;
      min-width: @pot-sidebar-width;
      background-color: @pot-header-background-color;

      transition: all .2s linear;
    }

    // pot-layout-sidebar--overlay
    &--overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: @pot-sidebar-overlay-background;
      z-index: @pot-sidebar-z-index - 1;
    }

    // pot-layout-sidebar--trigger
    &--trigger {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      color: #bfbfbf;
      background-color: rgba(255,255,255,.1);

      &-inner {
        display: inline-block;
        transform: rotate(0deg);
      }

      &.collapsed > &-inner {
        transform: rotate(180deg);
      }
    }
  }

  // pot-layout-content
  &-content {
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
    padding: 20px;
    background-color: @pot-content-background-color;

    transition: all .2s linear;
  }

  &-logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .2s linear;
  }
}
