// ajs-menu
.@{ajs-prefix}-menu {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  color: inherit;
  font-size: 14px;
  text-align: left;
  list-style: none;
  outline: none;
  //transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: all .2s linear;

  &--dark {
    color: #fff;
    background: #2c3e50;
  }

  &--light {
    color: #2c3e50;
    background: #fff;
  }

  &-submenu {
    position: relative;

    &-content {}
  }

  &-item, &-submenu-item {
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      background-color: #8cc8ff;
    }

    &.active {
      background-color: #67c3e9;
    }
  }

  &-item--icon {
    width: 48px;
    min-width: 48px;
    text-align: center;
  }

  &-item--label {
    flex: 1;
  }

  &-item--trigger {
    position: relative;
    width: 10px;
    color: rgba(0, 0, 0, 0.85);
    transform: translateY(-50%);
    transition: transform 0.3s @ease-in-out;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 6px;
      height: 1.5px;
      background-color: currentColor;
      border-radius: 2px;
      transition: background 0.3s @ease-in-out, transform 0.3s @ease-in-out, top 0.3s @ease-in-out, color 0.3s @ease-in-out;
    }
    &::before {
      transform: rotate(-45deg) translateY(2.5px);
    }
    &::after {
      transform: rotate(45deg) translateY(-2.5px);
    }
  }

  &.collapsed {
    width: 48px;
  }
}
