// The prefix to use on all css classes from pot-layout.
@pot-prefix: pot;

// transition
@ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);

// layout
@pot-layout-bg: #f0f2f5;

// header
@pot-header-bg: #fff;
@pot-header-height: 48px;
@pot-header-z-index: 100;

// footer
@pot-footer-bg: transparent;
@pot-footer-height: 48px;

// sidebar
@pot-sidebar-bg: #fff;
@pot-sidebar-color: inherit;
@pot-sidebar-width: 208px;
@pot-sidebar-collapsed-width: 46px;
@pot-sidebar-z-index: 200;

// drawer
@pot-drawer-z-index: 1000;
@pot-drawer-mask-bg: rgba(0, 0, 0, .4);

// content
@pot-content-bg: transparent;

// logo
@pot-logo-height: @pot-header-height;
@pot-logo-width: @pot-sidebar-width;
@pot-logo-collapsed-width: @pot-sidebar-collapsed-width;

// ------------------------------menu------------------------------
@pot-menu-item-height: 40px;
@pot-menu-collapsed-width: @pot-sidebar-collapsed-width;
@pot-menu-bg: #fff;
@pot-menu-popup-bg: @pot-menu-bg;
@pot-menu-popup-width: @pot-sidebar-width;
@pot-menu-item-font-size: 14px;
@pot-menu-item-padding-horizontal: 16px;
@pot-menu-item-padding: 0 @pot-menu-item-padding-horizontal;
@pot-menu-item-color: fade(#000, 85%);
@pot-menu-item-active-color: #1890ff;
@pot-menu-item-active-bg: #e6f7ff;
@pot-menu-item-highlight-color: #1890ff;
@pot-menu-item-highlight-bg: inherit;
@pot-menu-item-active-border-width: 3px;
@pot-submenu-title-active-color: #1890ff;
@pot-submenu-title-active-bg: inherit;
@pot-submenu-title-highlight-color: #1890ff;
@pot-submenu-title-highlight-bg: inherit;
@pot-submenu-arrow-width: 10px;
@pot-menu-icon-margin-right: 10px;
@pot-menu-icon-size: @pot-menu-item-font-size;
@pot-menu-icon-width: @pot-menu-collapsed-width;
@pot-menu-horizontal-align: center;
