@pot-prefix: pot;

// layout
@pot-layout-background-color: #f0f2f5;

// header
@pot-header-background-color: var(--pot-header-background-color);
@pot-header-height: 60px;
@pot-header-z-index: 100;

// footer
@pot-footer-background-color: transparent;
@pot-footer-height: 60px;

// sidebar
@pot-sidebar-background-color: var(--pot-sidebar-background-color);
@pot-sidebar-overlay-background: rgba(0, 0, 0, .4);
@pot-sidebar-font-color: #fff;
@pot-sidebar-width: 210px;
@pot-sidebar-z-index: 200;

// content
@pot-content-background-color: transparent;


//
@ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
